.Link {
  color: var(--text-secondary);
  margin-bottom: 0;
}
.ActiveLink {
  color: var(--text-primary);
}

.Link::before,
.ActiveLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  background-color: var(--text-primary);
  transition: all 400ms;
}

.Link:hover::before,
.Link:active::before,
.ActiveLink::before {
  transform: scale(1);
  transition: all 400ms;
  opacity: 1;
}
